<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem dos cursos</title>
</head>
<body>
    <h1>Listagem de usuários</h1>
    <p>
        <a href="/curso/add">Adicionar</a>
    </p>
    <form method="post">
        <input type="text" name="pesquisar">
        <input type="submit" value="Pesquisar">
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Carga horaria</th>
            <th>Data de inicio</th>
            <th>Logo</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        <% Cursos.forEach((curso)=>{ %>
        <tr>
            <td><%=curso.id%></td>
            <td><%=curso.titulo%></td>
            <td><%=curso.cargahoraria%></td>
            <td><%=curso.datainicio%></td>
            <td>
                <img src="/fotos/<%=curso.logo%>" 
                    width="80px" alt="Logo do curso">
            </td>
            <td>
                <a href="/curso/edt/<%=curso.id%>">Editar</a>
            </td>
            <td>
                <a href="/curso/del/<%=curso.id%>">Deletar</a>
            </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>